/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
/* ==== ROOT RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif "Inter";
}
html{
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ==== CSS VARIABLES ==== */
:root {
  --primary-color: #7373f0;
  --link-color: #f58484;
  --btn-hover-color: #f5f5f5;
  --lg-heading: #ffffff;
  --text-content: #e81414;
}

/* ==== RESET HTML ==== */
body {
  width: 100%;
  height: 100vh;
  display: auto;
  justify-content: auto;
  align-items: auto;
  background-color:rgb(231, 242, 251);
  


}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* ==== CONTAINER ==== */
.container {
  width: 100%;
}

/* ==== HEADER ==== */
.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}

/* ==== NAV ==== */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ==== LOGO ==== */
.logo h2 {
  font-size: 30px;
  color: #358DB6;
}
/* ====  NAV-MENU  ==== */
.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 16.5px;
  line-height: 27px;
  color: var(--link-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: var(--primary-color);
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--lg-heading);
  z-index: 4;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 3% !important;
}
/* ====  WRAPPER ==== */

.wrapper {
  width: 100%;
  padding-left: 1rem;
  padding-right: 5rem;
  padding-top: 4rem;
  margin-bottom: 5rem;
}
 
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid-item-1 {
  padding-top: 3rem;
  padding-left: 1em;
}

.main-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  color: #323d64;
}



.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #db0d0d;
}
.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}
.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: rgb(201, 29, 29);
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}
.view_more_btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: rgb(227, 227, 239);
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.view_more_btn i {
  margin-left: 0.7rem;
}
.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.documentation_btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background-color: #3057e3;
  color: #f6eded;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.documentation_btn:hover {
  background-color: #c149ed;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.grid-item-2 {
  width: 100%;
  height: 100%;
}
.team_img_wrapper {
  width: 700px;
  max-width: 300%;
  height: 550px;
}
.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ==== MEDIA QURIES FOR RESPONSIVE DESIGN ==== */
@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: 23px;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: rgb(0, 0, 0);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #ffffff;
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .view_more_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured_info p {
    line-height: 23px;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: sta;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }
  .featured_info span {
    font-size: 19px;
  }
}
  /*========cards====*/

.body1{
  display: flex;
        justify-content: center;
        align-items:center ;
        min-height: 100vh;
        background: #111;
}
.container2 {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(286.81deg, #6BFFE8 -63.22%, #33A394 -42.05%, #41A7B8 9.52%, #358DB6 57.37%, #256A96 81.94%);
  /* height: 400px; */
  width: 100%;
}
.container2 .col-1 {
  padding: 10px 20px;
  margin-left:8%;
  float: left;
  width: 50%;
  margin: 30px 20px;
}
.container2 .col-2 {
  margin: 5%;
  float: right;
  width: 5%;
  margin: 40px 20px;
}
.col-1 .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  margin: 40px 0;
}
.col-1 h1 {
  color: #fff;
  margin: 5px 0;
  font-size: 40px;
}
.col-1 p {
  color: #fff;
  margin: 5px 0;
  font-size: 1.5rem;
}
.col-2 img {
  width: 400px;
}
@media (max-width:700px){
  .container2 {
      display: block;
  }
  .container2 .col-1 {
      width: 90%;
      margin: 10px auto;
  }
  .container2 .col-2{
      width: 90%;
      margin: 10px auto;
  }
  .container2 .col-2 img {
      width: 100%;
      margin-left: -20px;
  }
}


.container3 {
  display: flex;
  justify-content: space-between;
  background :linear-gradient(286.81deg, #f06bff -63.22%, #8333a3 -42.05%, #6b41b8 9.52%, #358DB6 57.37%, #256A96 81.94%);
  /* height: 400px; */
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  position: relative;
  content: "";
  margin: 5px;
}
.container3 .col-1 {
  padding: 10px 20px;
  margin-left:8%;
  float: left;
  width: 50%;
  margin: 10px 5px;
}
.container3 .col-2 {
  margin: 0 5%;
  float: right;
  width: 30%;
  margin: 10px 5px;
}
.col-1 .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 10px 0;
}
.col-1 h1 {
  color: #fff;
  font-size: 1.5rem;
  margin: 5px 0;

}
.col-1 p {
  color: #fff;
  margin: 5px 0;
  font-size: 1.5rem;
}
.col-2 img {
  width: 400px;
}
@media(max-width:700px){
  .container3 {
      display: block;
  }
  .container3 .col-1 {
      width: 100%;
      margin: 30px auto;
  }
  .container3 .col-2{
      width: 100%;
      margin: 20px auto;
  }
  .container3 .col-2 img {
      width: 100%;
      margin-left: -10px;
  }
}

 /*crards6*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.body2{
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.col-3 h1 {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
}
.grid {
  display: grid;
  width: 100%;
  grid-gap: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
  background-color: #ffffff;
  gap:8rem;
  content: "";
  margin: 7px;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}
/*=========footer====*/
.container1{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
